#contactSection{
    height: 100vh;

    #contactCard{
        height: 50%;
        a:first-child{
            animation: float 6s ease-in-out infinite;
        }
        a:nth-of-type(2){
            animation: float 4.5s ease-in-out infinite;
        }
        a:nth-of-type(3){
            animation: float 4.5s ease-in-out infinite;
        }
        a:nth-of-type(4){
            animation: float 6s ease-in-out infinite;
        }
        a{
            @include glass_1;
            border-radius: 6px;
            padding: $padding_3;
            margin: auto;
            cursor: pointer;
            transition-duration: 0.2s;
            box-shadow: 1px 1px 1px $secondary;
            img{
                filter: drop-shadow(1px 1px 1px $secondary);
            }
            &:hover{
                @include glass_2;
                box-shadow: 3px 3px 5px rgba(34, 34, 34, 0.705);
            }
        }
    }

}