footer{
    a{
        @include glass_1;
        text-align: center;
        font-family: $font_2;
        font-size: $fontsize_2;
        color: $primary;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        transition-duration: 0.5s;
    }
    &:hover{
        transform: translateY(-20%);
        a{
            transform: scale(1.08);
            text-shadow: 1px 1px 1px $secondary;
        }
    }
}