#songsSection{
    height: 100vh;

    #carousel{
        padding: $padding_1;
        height: 50%;
        .carouselSong{
            @include glass_1;
            width: 20%;
            animation: float 7s ease-in-out infinite;
            display: inline;
            padding: $padding_1;
            box-shadow: 1px 2px 3px $secondary;
            margin: 0 20px;
            text-align: center;
            cursor: pointer;
            transition-duration: 0.2s;
            p{
                font-family: $font_1;
                font-size: $fontsize_2;
                text-shadow: 1px 1px 4px $secondary;
            }
            &:hover{
                @include glass_2;
                p{
                    color: black;
                    text-shadow: 0px 0px 2px $tertiary;
                    border-bottom: 0.1px outset #5e3ec760;
                    border-radius: 6px;
                }
            }
        }

        .carouselSong:nth-of-type(2), .carouselSong:nth-of-type(3){
            width: 22%;
            img{
                width: 94%;
            }
            animation: float 6s ease-in-out infinite;
        }


    }

    .carouselCover{
        padding: $padding_2;
        #prev, #next{
            @include glass_1;
            width: 36px;
            height: 36px;
            padding: 0px;
            border-radius: 6px;
            border: none;
            margin: auto;
            transition-duration: 0.2s;
            box-shadow: 1px 2px 3px $secondary;
            img{
                width: 20px;
                filter: drop-shadow(1px 1px 1px $secondary);
            }
            &:hover{
                transform: scale(1.04);
                img{
                    transform: scale(1.06);
                }
            }
        }
    }
}