/* Colors */

$primary: rgb(241, 241, 241);
$secondary: #222;
$tertiary: #5e3ec7;

/* Fonts */

$font_1: 'Roboto', sans-serif;
$font_2: 'Raleway', sans-serif;

/* Sizes */

$padding_1: 4px;
$padding_2: 8px;
$padding_3: 12px;

$fontsize_1: 0.2rem;
$fontsize_2: 1.2rem;
$fontsize_3: 1.5rem;

/* Mixins */

@mixin glass_1 {
    background: rgba( 255, 255, 255, 0.30 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

@mixin glass_2{
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 20.0px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}


/* Keyframes */

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

@keyframes showinfo{
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(20%);
    }
    100%{
        transform: translateY(20%);
        transform: translateX(-50%);
    }
}

@keyframes fadeIn {
	from{
		opacity: 0%;
	}to{
		opacity: 100%;
	}
}