@import './_vars.scss';
@import './header';
@import './songs';
@import './about';
@import './contact';
@import './footer';
@import './queries';


html{
    scroll-behavior: smooth;
}

body{
    background-image: url('../assets/img/bg.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
}

a, li, button{
    text-decoration: none;
    outline: none;
    list-style: none;
}