/* Colors */
/* Fonts */
/* Sizes */
/* Mixins */
/* Keyframes */
@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}
@keyframes showinfo {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(20%);
    transform: translateX(-50%);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
header {
  height: 100vh;
}
header .h1 {
  height: 10vh;
  padding: 12px;
}
header .h1 h1 {
  color: #f1f1f1;
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
  cursor: pointer;
  text-indent: -22px;
}
header nav {
  margin: auto;
}
header nav ul a {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 12px;
  height: 10%;
  text-align: center;
  margin: auto;
  box-shadow: 1px 1px 1px 3px rgba(34, 34, 34, 0.493);
  cursor: pointer;
  transition: 0.2s ease-in;
  border-radius: 50px;
  color: #f1f1f1;
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  text-shadow: 2px 2px 4px #222;
}
header nav ul a:hover {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  transform: scale(1.08);
  text-shadow: 0px 0px 6px #5e3ec7;
}
header nav ul #songs {
  animation: float 6s ease-in-out infinite;
}
header nav ul #about {
  animation: float 5.5s ease-in-out infinite;
}
header nav ul #contact {
  animation: float 4.4s ease-in-out infinite;
}

#songsSection {
  height: 100vh;
}
#songsSection #carousel {
  padding: 4px;
  height: 50%;
}
#songsSection #carousel .carouselSong {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 20%;
  animation: float 7s ease-in-out infinite;
  display: inline;
  padding: 4px;
  box-shadow: 1px 2px 3px #222;
  margin: 0 20px;
  text-align: center;
  cursor: pointer;
  transition-duration: 0.2s;
}
#songsSection #carousel .carouselSong p {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  text-shadow: 1px 1px 4px #222;
}
#songsSection #carousel .carouselSong:hover {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
#songsSection #carousel .carouselSong:hover p {
  color: black;
  text-shadow: 0px 0px 2px #5e3ec7;
  border-bottom: 0.1px outset #5e3ec760;
  border-radius: 6px;
}
#songsSection #carousel .carouselSong:nth-of-type(2), #songsSection #carousel .carouselSong:nth-of-type(3) {
  width: 22%;
  animation: float 6s ease-in-out infinite;
}
#songsSection #carousel .carouselSong:nth-of-type(2) img, #songsSection #carousel .carouselSong:nth-of-type(3) img {
  width: 94%;
}
#songsSection .carouselCover {
  padding: 8px;
}
#songsSection .carouselCover #prev, #songsSection .carouselCover #next {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 36px;
  height: 36px;
  padding: 0px;
  border-radius: 6px;
  border: none;
  margin: auto;
  transition-duration: 0.2s;
  box-shadow: 1px 2px 3px #222;
}
#songsSection .carouselCover #prev img, #songsSection .carouselCover #next img {
  width: 20px;
  filter: drop-shadow(1px 1px 1px #222);
}
#songsSection .carouselCover #prev:hover, #songsSection .carouselCover #next:hover {
  transform: scale(1.04);
}
#songsSection .carouselCover #prev:hover img, #songsSection .carouselCover #next:hover img {
  transform: scale(1.06);
}

#aboutSection {
  height: 100vh;
}
#aboutSection #profileCard {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 4px;
  box-shadow: 1px 1px 3px #222;
  width: 40%;
  height: 400px;
  max-height: 400px;
  margin: auto;
}
#aboutSection #profileCard #text {
  opacity: 0%;
  position: absolute;
  float: right;
  left: 42%;
  top: 10%;
  padding: 4px;
}
#aboutSection #profileCard #text p {
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
}
#aboutSection #profileCard #picbox {
  cursor: pointer;
  text-align: center;
  transition-duration: 0.5s;
  z-index: 2;
}
#aboutSection #profileCard #picbox img {
  width: 74%;
  filter: drop-shadow(11px 13px 4px rgba(17, 17, 17, 0.623));
}

#contactSection {
  height: 100vh;
}
#contactSection #contactCard {
  height: 50%;
}
#contactSection #contactCard a:first-child {
  animation: float 6s ease-in-out infinite;
}
#contactSection #contactCard a:nth-of-type(2) {
  animation: float 4.5s ease-in-out infinite;
}
#contactSection #contactCard a:nth-of-type(3) {
  animation: float 4.5s ease-in-out infinite;
}
#contactSection #contactCard a:nth-of-type(4) {
  animation: float 6s ease-in-out infinite;
}
#contactSection #contactCard a {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 6px;
  padding: 12px;
  margin: auto;
  cursor: pointer;
  transition-duration: 0.2s;
  box-shadow: 1px 1px 1px #222;
}
#contactSection #contactCard a img {
  filter: drop-shadow(1px 1px 1px #222);
}
#contactSection #contactCard a:hover {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 3px 3px 5px rgba(34, 34, 34, 0.705);
}

footer a {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  color: #f1f1f1;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  transition-duration: 0.5s;
}
footer:hover {
  transform: translateY(-20%);
}
footer:hover a {
  transform: scale(1.08);
  text-shadow: 1px 1px 1px #222;
}

@media (min-width: 768px) and (max-width: 992px) {
  .carouselSong {
    width: 18% !important;
  }

  #profileCard #text p {
    font-size: 0.9rem !important;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  header a {
    font-size: 1.3rem !important;
    margin: 20px 0px !important;
  }

  .carouselSong {
    width: 16% !important;
  }
  .carouselSong p {
    font-size: 0.6rem !important;
  }

  #profileCard #text {
    left: 32% !important;
  }
  #profileCard #text p {
    font-size: 0.9rem !important;
  }
}
@media (min-width: 280px) and (max-width: 576px) {
  header a {
    font-size: 0.8rem !important;
    margin: 30px 0px !important;
  }

  .carouselSong {
    width: 18% !important;
  }
  .carouselSong p {
    font-size: 0.5rem !important;
  }

  #profileCard {
    overflow-y: auto;
  }
  #profileCard #text {
    left: 32% !important;
  }
  #profileCard #text p {
    font-size: 1.1rem !important;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  background-image: url("../assets/img/bg.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: 100%;
}

a, li, button {
  text-decoration: none;
  outline: none;
  list-style: none;
}

/*# sourceMappingURL=main.css.map */
